<!DOCTYPE html>
<html lang="en">
<head>
    <title>P.A.S International,College of Science and technology</title>
    <style>
        .about-main{
            padding: 10px;
        }
        .about-main h2{
            padding: 10px;
        }
        .about-main h4{
            padding-bottom:10px; 
        }
        .about-main p{
            text-align: justify;
            padding-bottom:20px;
            line-height: 25px;
            /* margin-left: 20px; */
            margin: auto;
            width: 800px; 
        }
        #cen{
            text-align: center;
            margin: auto;
        }
    </style>
</head>
<body bgcolor="white">
    <center><a><img src="{{ url_for('static',filename='mayank1/pas.jpg')}}" height="300px" width="550px"></a></center>
        <div class="about-main">
            <div id= "cen">
                <h2><u><font color="red">P.A.S INTERNATIONAL COLLEGE OF SCIENCES</font></u></h2>
                <h4><font color="red">(Affiliated to Oxford,Approved by AICSTE New Delhi & IOSSR,New Delhi)</font></h4>
                <p ><font color="black"> 
                    P.A.S International,College of Science and Technology (PASCST) was established in the year 1950-2024. 
                    Initially, it started functioning with Computer Science, Bio Sciences(Physics,Chemistry,Zoology,Botany), 
                    Information Science and Para Science branches, offering 3 years duration Undergraduate Degree 
                    Programme . A two years duration Masters Programme in Computer Science,Physics,Chemistry,Zoology & Botany 
                    where added in the year 2001-2024.
                    where a 3 years duration degree programme in Science was introduced in the year 1950-1951. 
                    The approved intake for the courses are as follows; Computer Science & Technology: 60; 
                    Bsc Physics:60; Bsc Chemistry:60; Bsc Zoology:60; Bsc Botany:60; Msc Physics:40; 
                    Msc Chemistry:40; Msc Zoology:40; Msc Botany:40 with a total approved intake of 460 students per annum. 
                    All the programmes are affiliated to University Of Oxford USA, recognised by International Organisation for
                    Study of Sciences and Research & All India Council for Technical Education, New Delhi. The course 
                    curriculum of these programmes are as per the norms and guidelines of the affiliating University 
                    viz.University of Oxford ,USA and all the relevant details about these 
                    programmes are available at www.universityofoxford.ac.in. ,Approved by AICSTE New Delhi & IOSSR New Delhi
                </font></p>
                <p><font color="black">
                    The Institution is fully committed in translating the Vision of the Sciences into a reality with 
                    its focused approached to develop and offer young, committed and ethical graduates to diverse 
                    Scientific & Technical environments, specialised in different disciplines of Science and technology. 
                    The Institution apart from strictly adhering to course curriculum of the affiliating University 
                    also in the forefront in offering several value based activities / programmes, appropriately tailor 
                    made to transform and mould the raw and budding members of the Learners Community as fully trained 
                    Graduates who an pursue theire dream of exploring the world of Sciences and Reality. Extended Training 
                    Activites on advanced software’s relevant to different discipline. Hands-on training on advanced 
                    facilities / instruments , periodic visits to professional environments, Lectures / Talks by 
                    eminent personalities in the chosen disciplines of Science and Technological fields, extensive 
                    and value additional type of interactions with professional environments, 
                    mentorship, group study schemes, to cit a few are being implemented and seriously followed so as 
                    to profile the much needed value addition to the profiles of the Learners Community.
                </font></p>
            </div>
        </div>
        
</body>
</html>