<html>
    <head>
    </head>
    <body>
       <a><img src="{{ url_for('static',filename='mayank1/bas.jpg')}}" height="1000" width="1500"><img src="{{ url_for('static',filename='mayank1/libr.jpg')}}" height="1000" width="1500"><img src="{{ url_for('static',filename='mayank1/lib.jpg')}}" height="1000" width="1500"><img src="{{ url_for('static',filename='mayank1/ni.jpg')}}" height="1000" width="1500"><img src="{{ url_for('static',filename='mayank1/girl.jpg')}}" height="1000" width="1500"><img src="{{ url_for('static',filename='mayank1/gra.jpg')}}" height="1000" width="1500"><img src="{{ url_for('static',filename='mayank1/fe.jpg')}}" height="1000" width="1500"><img src="{{ url_for('static',filename='mayank1/class.jpg')}}" height="1000" width="1500"></a> 
    </body>
</html>