<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='st.css')}}">
</head>
<div class="gh">
<body background="{{ url_for('static',filename='mayank1/pas21.jpg')}}">
</div>
    <center>
        <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <h1 class="animate-charcter"> YOUR CHAT BOT</h1>
              </div>
            </div>
          </div>
    <form action="{{ url_for('enquries') }}" method="post">
        <!-- <div class="msg">{{ msg }}</div> -->
          <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/></br></br>
          <input type="submit" class="btn" value="Sign In"></br></br>
      </form>
    </center>
</body>
</html>