<!DOCTYPE html>
<html lang="en">
<head>
    <title>P.A.S International,College of Science and technology</title>
    <style>
        .about-main{
            padding: 10px;
        }
        .about-main h2{
            padding: 10px;
        }
        .about-main h4{
            padding-bottom:10px; 
        }
        .about-main p{
            text-align: justify;
            padding-bottom:20px;
            line-height: 25px;
            /* margin-left: 20px; */
            margin: auto;
            width: 800px; 
        }
        #cen{
            text-align: center;
            margin: auto;
        }
    </style>
</head>
<body bgcolor="white">
    <center><a><img src="{{ url_for('static',filename='mayank1/pas.jpg')}}" height="300px" width="550px"></a></center>
        <div class="about-main">
            <div id= "cen">
                <h2><u><font color="red">P.A.S INTERNATIONAL COLLEGE OF SCIENCES</font></u></h2>
                <h4><font color="red">(Affiliated to Oxford,Approved by AICSTE New Delhi & IOSSR,New Delhi)</font></h4>
                <h5><font color="red"><center><u>LIBRARY</u></center></font></h5>
                <p ><font color="black"> 
                    In the present era of knowledge revolution, the relevance of a college library is ever increasing. 
                    Responding positively to the newly-defined roles of a college library in the present scenario, 
                    P.A.S College Library has taken measures to make latest items of knowledge accessible to the 
                    academic community.The College Library became functional on 02.08.1965, the same year in which the
                    college was established. In the beginning, the library was housed in a small room in the Main Block 
                    and there were only 332 books, two dailies and their weeklies in the library. Now (as on 30.11.2006)
                    it has a collection of 45000 books,89 academic journals, 50 periodicals, including career magazines,
                    and 10 newspapers. In addition it has a collection of about 200 CD ROMS.At present, the library is
                    functioning as two separate units, viz. Central Library and Department Libraries. Realizing the 
                    effectiveness of a Centralized Library set up and upholding the true spirit of the Government directions
                    in this respect, more Department libraries are being centralized. 
                </font></p>
                <p><font color="black">
            <u>collection</u><br>        
                    Books: – The College Library has a collection of 52000 books of which 30381 are kept in the Central Library (including reference books) and the remaining 15987 in various Department Libraries.<br>
                    The department-wise collection is detailed in the table given below:<br>
        Academic Journals: – There are 15 academic journals in the Central Library and 89 journals in various Department Libraries.<br>
              Periodicals:- Over 50 periodicals are subscribed by the college and made available to the readers in the Reading Room-cum-Periodical Section.<br> 
               Newspapers:- 12 copies of 10 leading dailies in English and Malayalam are made available in the Central Library. Also, 3 departments have subscribed to dailies pertaining to their subject of study.<br>
            <u>Use of library</u><br>
            On an average of over 260 students and staff use the facilities of the Reading Room-cum-Periodical Section per working day.
                </font></p>
            </div>
        </div>
        
</body>
</html>