<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/styleg.css">
  <script src="https://kit.fontawesome.com/d75cbd6376.js" crossorigin="anonymous"></script>
<style>
body{
  background-image: url("mayank1/pas.jpg");   
}
#rcorners1 {
  margin: auto;  
  border-radius: 25px;
  background: #04ddfa;
  padding: 20px; 
  width: 1000px;
  height: 600px; 
  position: middle;
}


</style>
</head>
<body bgcolor="white">
<P><h1><font color="red"><center><u><b>RESEARCH GUIDES</b></u></center></font></h1></P>
<br>
<p id="rcorners1">
<font size="5"><b>Physics:</b></font>
<br><br>
1. Dr. A. Ashokan,p.a.s international college of science and technology, aashokaneco@gmail.com, ph: 9446169090
<br><br>
2. Dr. Devasia. M D, p.a.s international college of science and technology, drdevasiamd@gmail.com, ph:9995809309
<br><br>
<font size="5"><b>chemistry:</b></font>
<br><br>
1. Dr. P. V. Jayaraj Reader, p.a.s international college of science and technology, Ph:0490-2471310, 9446696726
<br><br>
2. Dr. K. V. Surendran, p.a.s international college of science and technology, ph:9897765432
<br><br>
<font size="5"><b>Zoology:</b></font>
<br><br>
1. Dr. Prabhakaran Hebbar Illath, p.a.s international college of science and technology,ph: 9446661250
<br><br>
2. Dr. Sujith N Thambi, p.a.s international college of science and technology, ph: 9745341234
<br><br>
<font size="5"><b>Botany:</b></font>
<br><br>
1. Dr. Santhosh Manicheri, p.a.s international college of science and technology, ph: 9495781047
<br><br>
2. Dr. Joseph K. Jobe, p.a.s international college of science and technology, ph: 9447682387
<br><br>
<font size="5"><b>Computer Science:</b></font>
<br><br>
1. Dr. Rajeevan E, p.a.s international college of science and technology, ph: 9495811886
<br><br>
2. Dr. M Ramakrishnan, p.a.s international college of science and technology, ph: 9965544578
<br><br>
<div class="btnf">
  <br><br><button type="submit" class="btn"><a class="bottom" href="{{url_for('researchapply')}}">APPLY</a></button></br></br>
</div>
</p>
<br>
</body>
</html>
